body{
    background-color: #36645f;
}
canvas{
    display : block;
    margin : 25px auto;
    border: 1px solid #A1A1A1;
}
p{
    font-family: Arial, serif;
    text-align: center;
    font-size: 1.5em;
}

.Title {  
  font-size: 450%;
  font-family: 'Modern Antiqua', "Buxton Sketch", cursive;
  color: #f3f3f3;
}

.Title2 {  
  font-size: 250%;  
  font-family: font-family: 'Modern Antiqua', "Buxton Sketch", cursive;
  color: #f3f3f3;
}

.Title3 {  
  font-size: 450%;  
  font-family: 'Modern Antiqua', "Buxton Sketch", cursive
  color: #f3f3f3;
}

a {
  color: #E8A10C;
}

h1 {
  text-align: center;
}